a{
	color: white;
}

a:hover{
	color: fuchsia;
}

ul a{
	color: #333;
	background-color: white;
	padding: 5px;
	border-radius: 5px;
	opacity: 0.8;
	text-decoration: none;
}

ul a:hover{
	color: #333;
	opacity: 1;
}

p{
	color: white;
	font-size: 20px; /* Paragraphes de 20 pixels */
	font-family: Impact;
	text-align: left;
}

h1{
	color : fuchsia;
	font-size: 60px; /* Titres de 60 pixels */
	font-family: Times New Roman;
	font-style: italic;
	text-align: center; 
}

ul{
	font-family: Arial Black;
    text-align: left;
    list-style:none;
    padding: 0px;
}

li{
    font-size: 25px; /* Titres de 25 pixels */
	font-family: Arial Black;
    text-align: left;
    margin-bottom: 20px;
}	

body{
	background-color:grey;
    background-attachment: fixed; /* Le fond restera fixe */
    opacity: 0.7;
}

#page_0{
    background-image: url("media/fondecranindex.jpg");
}

#page_1{
    background-image: url("media/fonddemonsiteweb.jpg");
}

#page_2{
    background-image: url("media/fondecranpage2.jpg");	
}

#page_3{
    background-image: url("media/fondecranpage3.jpg");
}

#page_4{
    background-image: url("media/fondecranconclusion.jpg");
}

.geek{
	background-color: red;
}

span{
    background-color: red;	
}
 